[Desktop Entry]
Name=Emical
Exec=java -jar '/home/jim/Software/Developing/Java-GUI/emical/EmiCal.jar'
Comment=
Terminal=false
Icon=/home/jim/Software/Developing/2_icons/cross.png
Type=Application
StartupWMClass=com.dimitris47.emical.Emical
